.chat-input {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  padding-bottom: 10px;
}

.messages-screen {
  box-sizing: border-box;
  // overflow-y: scroll;
  height: 95%;
} 