@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet');
@import './sass/mixins';
@import './sass/line';
@import './sass/chat';
@import 'simplebar/dist/simplebar.css';

body {
  
  background: #212121;
  margin: 0;
  width: 100vw;
  height: 100vh;
  @include flex(center, center);

  * {
    // font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-family: 'Baloo Bhai', cursive;
    box-sizing: border-box;
  }
}

.screen {
  position: relative;
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  padding: 20px;
  background: #101010;
  box-shadow: 0 0 1px inset;
}